<img class=" movie-image" src="https://image.tmdb.org/t/p/original{{img}}" alt="{{title}}" />
<h2 class="modal-movie-name">{{title}}/h2>
  <div class="movie-info">
    <ul class="movie-info-titles">
      <li>Vote / Votes</li>
      <li>Popularity</li>
      <li>Original title</li>
      <li>Genre</li>
    </ul>
    <ul class="movie-info-values">
      <li class="movie-rating">{{vote}} {{votes}}</li>
      <li class="movie-popularity">{{popularity}}</li>
      <li class="movie-original-title">{{original}}</li>
      <li class="movie-genre">{{genres}}</li>
    </ul>
    <h4 class="about-title">ABOUT</h4>
    <p class="movie-description">{{description}}</p>
    <button class="add-to-watched-btn">ADD TO WATCHED</button>
    <button class="add-to-queue-btn">ADD TO QUEUE</button>
  </div>